.sectionAcc {
    padding: 5%;
}

.presentation {
    margin: 50px auto 50px auto;
}

.cta {
    margin: 5% auto 50px auto;
    div {
        transition: all 0.3s linear;
    }

    .ctaOP {
        margin: 3% auto;
    }
}

@media (max-width: 700px){
    .cta {
        margin: 25% auto 50px auto;
    }
}